@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
	background-color:rgb(52, 61, 70);
	padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Code Pro', monospace;
}

.maindiv {
	border: solid;
	border-radius: 2px;
	border-color: rgb(201,255,229);
	padding-right: 55px;
	padding-left: 55px;
	padding-bottom: 30px;
}

.container-fluid {
	padding-left: 16vw;
	padding-right: 16vw;
}

div#term_demo {
    width: auto !important;
}

.navbar  { 
    padding-left: 10vw;
    padding-right: 10vw;
	
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 
